<div class="body-padding">
	
<p id="notice"><%= notice %></p>

<div class="row-fluid">	
	<div class="span12">
		<div id="good-for-heading">
		<%= @nabe.name%>
		</div>
	</div>	
</div>

<div class="row-fluid">
	<div class="span3">
		<div class="photo">
			<div class="tapethree"></div>
			
			
			<a href="http://www.flickr.com/photos/violettalough/5795127998/" title="Hinsch by Violette79, on Flickr"><img src="http://farm3.staticflickr.com/2011/5795127998_87f6e3823a_b.jpg" width="100%" height="100%" alt="Hinsch"></a>			
		</div>	
	</div>
	
	<div class="span9">
		<div class="nabe-summary">
				<div class='spacer'>
				Safe, quiet, and diverse with good public schools, plenty of parks and a lively bar scene. The commute to Manhattan can take 40-50 minutes which keeps rent prices low and home prices reasonable.
				</div>
			</div>

		<div id="category-spacer">
			<div id="category-mini-header">
			Popular tags for <%= @nabe.name %>
			</div>	

			<% @nabe.tags.order(:name).each do |tag| %>
				<div id="nabe-category">
					<%= tag.name %>
				</div>
				<% end %>
				
		</div>		
				
	</div>	

</div>

</div>


<div class="row-fluid">
	<div class="span12">
		<div class="page-section-2">
			
			<div class="body-padding">
			<div class="row-fluid">
				<div class="span12">
					<div id="building-address-form-title">
						What is your building address?
					</div>
				</div>	
				<div class="span6">

				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div id="disqus_thread"></div>
				    <script type="text/javascript">
				        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				        var disqus_shortname = 'nabescout'; // required: replace example with your forum shortname
						var disqus_identifier = '<%= "#{@nabe.name}" %>';
						var disqus_title = '<%= "#{@nabe.name}" %>';

				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

				</div>
			</div>
			</div>


			
			
		</div>	
	</div>	
</div>	


