<!DOCTYPE html>
<html>
<head>
  <title>Nabehood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script src="//unslider.com/unslider.min.js"></script>
<script src="jquery.slides.min.js"></script>

</head>
<body>
	<div class="body-padding">
		
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.username %></strong>
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to (image_tag "connect-blue2x.png"), user_omniauth_authorize_path(:foursquare) %>
	<% end %> 
	<p class="notice"><%= notice %></p>
	
	</div>
	
<%= yield %>

</body>
</html>
